<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,300italic,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/inicio.css">
	<title>DavaniTechnology</title>
	<link rel="shortcut icon" href="/img/logo.png" type="image/x-icon">
</head>
<body>
	<header>
		<div class="contenedor">
			<nav class="planes">
				<a href="#" id="btn-acerca-de">Acerca de</a>
				<a href="#" id="btn-planes">Planes</a>
				<a href="#" id="btn-galeria">Valores</a>
				<a href="#" id="btn-contacto">Contacto</a>
				<a href="/login">Iniciar sesion</a>
			</nav>

			<div class="textos">
				<h1 class="nombre"><span>Davani</span> Technology</h1>
				<h3>Ingenieros de software</h3>
			</div>
		</div>
	</header>

	<section class="main">
		<section class="acerca-de" id="acerca-de">
			<div class="contenedor">
				<div class="foto">
					<img src="img/logo.png" alt="">
				</div>
				<article>
					<h3>Acerca de</h3>
					<p>Somos unos jovenes desarrolladores y entusiastas que buscamos poder apoyar y crear todo lo real que nuestros clientes puedan imaginar.</p>
				
					<p>Estamos comprometidos a cumplir con las expectativas de nuestro cliente y que puedan hacerce mas conocidos por medio de su sitio web.</p>
				</article>
			</div>
		</section>

		<section class="planes">
    <div class="contenedor">
        <h3 class="titulo" id="planes">Planes</h3>
        <div class="contenedor-planes">
            <div class="contenedor-planes2">
                <article>
                    <p class="categoria">Mensual</p>
                    <div class="plan">
                        <p class="nombre">Plan de cobro cada 31 días</p>
                        <p class="precio">$100</p>
                        <ul class="beneficios">
                            <li>Acceso mensual a la plataforma de negocio.</li>
                            <li>Facturación mensual (cobro automático cada 31 días).</li>
                            <li>Flexibilidad para cancelar en cualquier momento.</li>
                        </ul>
                    </div>
                </article>

                <article>
                    <p class="categoria">Anualidad</p>
                    <div class="plan">
                        <p class="nombre">Plan por un año</p>
                        <p class="precio">$1000</p>
<br>
<br>
                        <ul class="beneficios">
                            <li>Acceso completo a la plataforma de negocio durante un año.</li>
                            <li>Ahorro en comparación con el plan mensual (equivalente a $83.33 al 
mes).</li>
                            <li>Cobro único por todo el año, sin necesidad de preocuparse por pagos 
mensuales.</li>
                            <li>Ideal para quienes desean un compromiso a largo plazo.</li>
                        </ul>
                    </div>
                </article>
            </div>

            <div class="nota">
                <h2 class="titulo-nota">Beneficios de la Plataforma</h2>
                <ul class="beneficios">
                    <li><strong>Gestión de Capital Humano:</strong> Gestión de información de 
trabajadores o colegas con permisos específicos.</li>
                    <li><strong>Gestión de Clientes:</strong> Una mejor gestión de clientes con sus 
datos generales para poder contactarlos y tener un mejor historial.</li>
                    <li><strong>Gestión de Categorías:</strong> Podrá gestionar las categorías o 
servicios que ofrece.</li>
                    <li><strong>Gestión de Servicios:</strong> Puede gestionar sus servicios, 
seleccionar cliente, vendedor, ubicación y fecha de entrega, además de ver el total de su renta.</li>
                    <li><strong>Servicios:</strong> Creación y gestión de servicios, además de generar 
tickets personalizados y detallados con un código QR único para cada servicio de venta o renta.</li>
                    <li><strong>Datos Empresa:</strong> Gestión de datos importantes de la empresa, 
como el logo, descripción, rubro, ubicación, horario, teléfono, correo electrónico y redes sociales. 
También, creación de una página web única para la empresa con opción de compartirla mediante un código 
QR.</li>
                    <li><strong>Notas:</strong> Acceso a un apartado de bloc de notas especializado 
para escribir ideas o lo que desee.</li>
                    <li><strong>Recordatorios:</strong> Creación de recordatorios con fecha de inicio 
y fin, que se mostrarán si no se ha logrado la meta en el tiempo establecido.</li>
                </ul>
            </div>
        </div>
    </div>
</section>


		<div class="informacion">
            <h3 class="titulo" id="planes">Informacion</h3>
            <div class="section">
                <div class="text">
                    <h2>Gestion de capital humano</h2>
                    <p>Gestion de informacion de trabajadores o colegas con permisos especificos.</p>
                </div>
                <div class="image">
                    <img src="/img/encargado.png" alt="Primera imagen">
                </div>
            </div>
            
            <div class="section">
                <div class="text">
                    <h2>Gestion de clientes</h2>
                    <p>Una mejor gestion de clientes con su datos generales para poder contactarlos y tener un mejor historial</p>
                </div>
                <div class="image">
                    <img src="/img/clientes.png" alt="Segunda imagen">
                </div>
            </div>
            
            <div class="section">
                <div class="text">
                    <h2>Gestion de categorías</h2>
                    <p>Podra gestionar las categorias o servicios que ofrece.</p>
                </div>
                <div class="image">
                    <img src="/img/categorias.png" alt="Tercera imagen">
                </div>
            </div>
            <div class="section">
                <div class="text">
                    <h2>Gestion de servicios</h2>
                    <p>En este apartado puede gestionar sus servicios asi como seleccionar el cliente, el vendedor ubicacion y fecha de entrega, con un apartado donde le mostrara el total de su renta.</p>
                </div>
                <div class="image">
                    <img src="/img/servicios.png" alt="Tercera imagen">
                </div>
            </div>
            <div class="section">
                <div class="text">
                    <h2>Servicios</h2>
                    <p>En servicios no solo podra crear y gestionar sus servicios tambien podra crear un ticket listo para enviar o imprimir personalizado y detallado para su cliente con un codigo QR creado unicamente para cada servicio de venta o renta, asi como una seccion dedicada a ver la informacion en una pagian especial para su cliente y el pueda consultar el estado de su servicio, asi como su informacion mas importante.</p>
                </div>
                <div class="image">
                    <img src="/img/ticket.png" alt="Tercera imagen">
                </div>
            </div>
            <div class="section">
                <div class="text">
                    <h2>Datos empresa</h2>
                    <p>Podra gestionar datos de su empresa que sean muy importantes como el logo, descrippcion, rubro de su empresa, ubicacion, horario, telefono, email y redes sociales.</p>
                    <strong>Todo esto para darle acceso a la creacion de una pagina web de su empresa unica y asi poder compratirla para poder publicitarse en sitios web, tambien le damos una opcion de codigo QR en formato de imagen y asi poder enviarla a sus conocidos o compartirla</strong>
                </div>
                <div class="image">
                    <img src="/img/empresa.png" alt="Tercera imagen">
                </div>
            </div>
            <div class="section">
                <div class="text">
                    <h2>Notas</h2>
                    <p>Puede tener acceso a un apartado de bloc de notas especializado para poder escribir ideas o lo que usted guste.</p>
                </div>
                <div class="image">
                    <img src="/img/notas.png" alt="Tercera imagen">
                </div>
            </div>
            <div class="section">
                <div class="text">
                    <h2>Recordatorios</h2>
                    <p>En esta seccion podra crear recordatorios con fecha de inicio y fin los cuales dependiendo el tiempo que sea de llegar a la meta y no se hayan logrado las mostrara en su inicio.</p>
                </div>
                <div class="image">
                    <img src="/img/recordatorio.png" alt="Tercera imagen">
                </div>
            </div>
        </div>

		<section class="galeria" id="galeria">
            <h3 class="titulo" id="planes">Valores</h3>
			<div class="foto">
				<p class="texto">PUNTUALIDAD</p>
				<img src="img/1.jpg" alt="">
			</div>
			<div class="foto">
				<p class="texto">RESPETO</p>
				<img src="img/2.jpg" alt="">
			</div>
			<div class="foto">
				<p class="texto">COLABORACION</p>
				<img src="img/3.jpg" alt="">
			</div>
			<div class="foto">
				<p class="texto">ORGANIZACION</p>
				<img src="img/4.jpg" alt="">
			</div>
			<div class="foto">
				<p class="texto">AGILIDAD</p>
				<img src="img/5.jpg" alt="">
			</div>
			<div class="foto">
				<p class="texto">INNOVACION</p>
				<img src="img/6.jpg" alt="">
			</div>
			<div class="foto">
				<p class="texto">ORIENTACION</p>
				<img src="img/7.jpg" alt="">
			</div>
			<div class="foto">
				<p class="texto">CALIDAD</p>
				<img src="img/8.jpg" alt="">
			</div>
		</section>

		<section class="contacto" id="contacto">
			<div class="contenedor">
				<section class="contacto">
					<h3 class="titulo">Contacto</h3>
					<form class="formulario" action="/enviar" method="POST">
						<input type="text" placeholder="Nombre" name="nombre" required>
						<input type="email" placeholder="Correo" name="correo" required>
						<textarea name="mensaje" placeholder="Mensaje:"></textarea>
						<input class="boton" type="submit" value="Enviar">
					</form>
				</section>
			</div>
		</section>
	</section>

	<footer>
		<div class="contenedor">
			<div class="copyright">
				<p>Copyright DavaniTechnology</p>
			</div>
		</div>
	</footer>

	<script src="js/jquery-1.12.3.min.js"></script>
	<script src="js/parallax.js"></script>
	<script src="js/efectos.js"></script>
	<script async 
src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8911862194691129"
     crossorigin="anonymous"></script>
</body>
</html>
