<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Pago Fallido</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <div class="container failure">
    <h1>Pago Fallido o Cancelado</h1>
    <p>Lo sentimos, el pago no se completó.</p>
    <a href="/register" class="btn">Volver a Registrar</a>
  </div>
</body>
</html>
